<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Resume for Matthew Smith Burlage">
        <meta name="author" content="Matthew Smith Burlage">
        <title>Resume for Matthew Smith Burlage</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/4ef2afa05a.js" crossorigin="anonymous"></script>
        <!-- Custom styles for this template -->
        <style>
        .banner {
            background-color: #73A5C6;
        }

        .banner-text {
            color: #1E3F66;
        }

        .body-text {
            color: #1E3F66;
        }
        </style>
    </head>
    <body>
        <div class="banner">
            <div class="container pt-5 pb-5">
                <div class="row">
                    <div class="col-12 banner-text">
                        <h1 class="display-4 text-center">Matthew Smith Burlage</h1>
                        <p class="lead text-center collapse"><b>Software Engineer</b></p>
                        <p class="lead text-center">Matthew is a software developer focused on creating secure, powerful, efficient, and intuitive web systems.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white pt-1">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-8 border-right">
                        <h5>Work Experience</h5>
                        <div class="mb-0">
                            Software Developer,
                            <span class="font-weight-bold">Hall County Government</span>
                        </div>
                        <div>
                            <span class="text-muted small">2019 - 2020 | (770) 531-6712</span>
                        </div>
                        <div>
                            <ul>
                                <li>Developed internal and external systems to manage Hall County’s day to day business needs.</li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <h5>Contact Information</h5>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fas fa-globe" aria-hidden="true"></i>&nbsp;&nbsp;www.msb.dev
                            </li>
                            <li>
                                <i class="fas fa-at" aria-hidden="true"></i>&nbsp;&nbsp;matt@msb.dev
                            </li>
                            <li>
                                <i class="fab fa-linkedin" aria-hidden="true"></i>&nbsp;&nbsp;linkedin.com/in/matthew-burlage
                            </li>
                        </ul>
                        <h5>Skills</h5>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fab fa-react" aria-hidden="true"></i>&nbsp;&nbsp;React.js, React Router
                            </li>
                            <li>
                                <i class="fab fa-python" aria-hidden="true"></i>&nbsp;&nbsp;Python, Django, DRF, Flask
                            </li>
                            <li>
                                <i class="fas fa-database" aria-hidden="true"></i>&nbsp;&nbsp;PostgreSQL, MS SQL, MongoDB
                            </li>
                            <li>
                                <i class="fab fa-node-js" aria-hidden="true"></i>&nbsp;&nbsp;Webpack, NPM, Meteor.js
                            </li>
                            <li>
                                <i class="fas fa-server" aria-hidden="true"></i>&nbsp;&nbsp;IIS, Ubuntu, wfastcgi
                            </li>
                            <li>
                                <i class="fas fa-wrench" aria-hidden="true"></i>&nbsp;&nbsp;Git, Github, Jira, Sentry
                            </li>
                        </ul>
                        <h5>Education</h5>
                        <ul class="list-unstyled small">
                            <li>
                                <i class="fas fa-university" aria-hidden="true"></i>&nbsp;&nbsp;AS, Computer Science, Univ. of North Georgia
                            </li>
                            <li>
                                <i class="fas fa-university" aria-hidden="true"></i>&nbsp;&nbsp;BS, Computer Science, UNG, 2020 Graduation
                            </li>
                            <li>
                                <i class="fas fa-certificate" aria-hidden="true"></i>&nbsp;&nbsp;CompTIA A+ Certification, 2014
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
