
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {#    {% load staticfiles %}#}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="57x57" href="https://mattburlage.github.io/msbdev-old/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://mattburlage.github.io/msbdev-old/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://mattburlage.github.io/msbdev-old/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://mattburlage.github.io/msbdev-old/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://mattburlage.github.io/msbdev-old/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://mattburlage.github.io/msbdev-old/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://mattburlage.github.io/msbdev-old/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://mattburlage.github.io/msbdev-old/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://mattburlage.github.io/msbdev-old/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://mattburlage.github.io/msbdev-old/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://mattburlage.github.io/msbdev-old/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://mattburlage.github.io/msbdev-old/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://mattburlage.github.io/msbdev-old/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://mattburlage.github.io/msbdev-old/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#343A40">
    <meta name="msapplication-TileImage" content="https://mattburlage.github.io/msbdev-old/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#343A40">

    {#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/css/bootstrap-notify.min.css" />#}
    {#        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/js/bootstrap-notify.min.js"></script>#}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>{{ textcopy.pagetitle }}</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <style>
        .link-unstyled {
            color: inherit;
            text-decoration: inherit;
        }
    </style>
</head>
<body>
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    {{ textcopy.aboutme|safe }}
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        {{ form.note }}
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-8">
                                <span id="msgnotify" class="text-success" style="display: none;">
                                    <i class="fas fa-check mr-4 ml-0"></i>Message Sent
                                </span>
                            </div>
                            <div class="col-4 text-right">
                                <button type='button' onclick="submitForm()" class="btn btn-light btn-sm">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex">
            {{ textcopy.header|safe }}
            <span class="pull-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </span>
        </div>
    </div>
</header>
<main role="main">
    <section class="d-print-none jumbotron text-center mb-0">
        {{ textcopy.mainjumbotron|safe }}
    </section>
    <div class="d-none d-print-block">
    <div class="container pt-2 pb-0">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 text-center">Matthew Smith Burlage</h1>
                <p class="lead text-center collapse"><b>Software Engineer</b></p>
                <p class="lead text-center">Matthew is a software developer focused on creating secure, powerful, efficient, and intuitive web systems.</p>
            </div>
        </div>
    </div>
</div>
    <div class="album py-5 bg-light collapse show" id='mywork'>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {{ textcopy.cardone|safe }}
                </div>
                <div class="col-md-4">
                    {{ textcopy.cardtwo|safe }}
                </div>
                <div class="col-md-4">
                    {{ textcopy.cardthree|safe }}
                </div>
            </div>
        </div>
    </div>
    <section class="jumbotron text-center mb-0 collapse show" id='principles'>
        <div class="container">
            <h4 class="jumbotron-heading">{{ textcopy.principlestitle|safe }}</h4>
            <ul class="list-unstyled">
                <li>
                    {{ textcopy.principleone|safe }}
                </li>
            </ul>
            <ul class="list-unstyled">
                <li>
                    {{ textcopy.principletwo|safe }}
                </li>
            </ul>
            {% if textcopy.principlethree %}
                <ul class="list-unstyled">
                    <li>
                        {{ textcopy.principlethree|safe }}
                    </li>
                </ul>
            {% endif %}
        </div>
    </section>

    <div class="collapse pt-5 pb-3" id="resume">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h5>Work Experience</h5>


                    <div class="mb-2">
                        Software Developer,
                        <span class="font-weight-bold">Hall County Government</span><br>
                        <span class="text-muted small">2019 - present | (770) 531-6712</span>
                    </div>
                    <div>
                        <ul>
                            <li>Developed internal and external systems to manage Hall County’s day to day business needs.</li>
                            <li>Management systems include Agenda, Personnel, Fleet, Finance, Policies, and IT Access.</li>
                            <li>Started new Enterprise Application Development division from the ground up.</li>
                            <li>Made foundational decisions on tools, design paradigm, methodology, and stack.</li>
                            <li>Implemented thorough and robust error and tracking and development lifecycle tools.</li>
                            <li>Maintained thorough documentation for users, admins, and future developers thru comments.</li>
                            <li>Installed, configured, and managed development, staging, and production servers.</li>
                        </ul>
                    </div>

                    <div class="mb-2">
                        PC Technician,
                        <span class="font-weight-bold">Hall County Government</span><br>
                        <span class="text-muted small">2018 | (770) 531-6712</span>
                    </div>
                    <div>
                        <ul>
                            <li>Co-managed enterprise Active Directory environment with 1300 end units plus other hardware.</li>
                            <li>Used scripting in order to increase speed of deployments, software installation, and repairs.</li>
                            <li>Co-managed Windows Servers under guidance of Systems Administrator, including IIS & SQL.</li>
                        </ul>
                    </div>

                    <div class="mb-2">
                        Covert Fulfillment Agent (Remote Tech Support),
                        <span class="font-weight-bold">Geek Squad</span><br>
                        <span class="text-muted small">2017 | (866) 692-2947</span>
                    </div>
                    <div>
                        <ul>
                            <li>Assisted clients remotely with repairs, including Windows, Apple, Android, and malware.</li>
                            <li>Achieved Rock Star status from first week in role. (NPS 95.5, Resolves per hour 1.74)</li>
                            <li>Provided clients with simple notes, walkthroughs or how to guides on every repair.</li>
                        </ul>
                    </div>

                    <div class="mb-2">
                        Precinct Leader/Advanced Repair Agent,
                        <span class="font-weight-bold">Geek Squad</span><br>
                        <span class="text-muted small">2014 - 2017 | (866) 692-2947</span>
                    </div>
                    <div>
                        <ul>
                            <li>Champions improvement of process quality to provide better client experiences.</li>
                            <li>Educates agents in the tools and strategies to improve efficiency and quality.</li>
                            <li>Acted as Sales Floor Leader. Regularly handles delicate issues throughout store.</li>
                            <li>Managed, with guidance, scheduling and staffing, including helping with hiring.</li>
                        </ul>
                    </div>

                    <div class="mb-2">
                        Floor Manager/IT Specialist,
                        <span class="font-weight-bold">Telio Restaurant</span><br>
                        <span class="text-muted small">2014 - 2017 | (866) 692-2947</span>
                    </div>
                    <div>
                        <ul>
                            <li>Served as tech advisor on design, functionality, and implementation of all systems.</li>
                            <li>Advised planning and design of new quick service and bar/lounge concepts/menus.</li>
                            <li>Managed wait and bar staff resulting in maximized efficiency and sales.</li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-4">
                    <h5>Contact Information</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="link-unstyled" href="https://www.msb.dev" target="_blank">
                                <i class="fas fa-globe pr-2" aria-hidden="true"></i>www.msb.dev
                            </a>
                        </li>
                        <li>
                            <a class="link-unstyled" href="mailto:matt@msb.dev">
                                <i class="fas fa-at pr-2" aria-hidden="true"></i>matt@msb.dev
                            </a>
                        </li>
                        <li>
                            <a class="link-unstyled" href="https://www.linkedin.com/in/matthew-burlage" target="_blank">
                                <i class="fab fa-linkedin pr-2" aria-hidden="true"></i>/matthew-burlage
                            </a>
                        </li>
                    </ul>
                    <h5>Skills</h5>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fab fa-react" aria-hidden="true"></i>&nbsp;&nbsp;React.js, React Router
                        </li>
                        <li>
                            <i class="fab fa-python" aria-hidden="true"></i>&nbsp;&nbsp;Python, Django, DRF, Flask
                        </li>
                        <li>
                            <i class="fab fa-node-js" aria-hidden="true"></i>&nbsp;&nbsp;Webpack, NPM, Meteor.js
                        </li>
                        <li>
                            <i class="fas fa-database" aria-hidden="true"></i>&nbsp;&nbsp;PostgreSQL, MS SQL, MongoDB
                        </li>
                        <li>
                            <i class="fas fa-server" aria-hidden="true"></i>&nbsp;&nbsp;IIS, Ubuntu, wfastcgi
                        </li>
                        <li>
                            <i class="fas fa-wrench" aria-hidden="true"></i>&nbsp;&nbsp;Git, GitHub, Jira, Sentry
                        </li>
                    </ul>
                    <h5>Education</h5>
                    <ul class="list-unstyled small">
                        <li>
                            <i class="fas fa-university" aria-hidden="true"></i>&nbsp;&nbsp;AS, Computer Science, Univ. of North Georgia
                        </li>
                        <li>
                            <i class="fas fa-university" aria-hidden="true"></i>&nbsp;&nbsp;BS, Computer Science, UNG, 2020 Graduation
                        </li>
                        <li>
                            <i class="fas fa-certificate" aria-hidden="true"></i>&nbsp;&nbsp;CompTIA A+ Certification
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="text-muted pb-3 pt-4 bg-dark d-print-none">
    <div class="container">
        <p class="float-right"> <a href="#" class="text-light small">Back to top</a> </p>
        {{ textcopy.footer|safe }}
    </div>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{#        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>#}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script
        type="module"
        src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.mjs"
></script>
<script>
    // Show the contact form when the link is clicked
    function showContactForm() {
        $('#navbarHeader').collapse('show');
        $('#id_email').focus();
        return false;
    }

    // Pulled from Django Docs
    // https://docs.djangoproject.com/en/3.0/ref/csrf/#setting-the-token-on-the-ajax-request

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    // Function to submit the contact form via AJAX
    function submitForm () {

        let formData = {
            email: $('#id_email').val(),
            note: $('#id_note').val(),
        };

        fetch('/api/submit/',{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify(formData)
        })
            .then(res => res.json())
            .then(json => {
                console.log(json);
                $('#id_email').val('');
                $('#id_note').val('');
                const msgNotify = $('#msgnotify');
                msgNotify.fadeIn(400);
                setInterval(() => msgNotify.fadeOut(1000), 3000)
            })
    }

    function toggleResume () {
        $('#principles').collapse('toggle');
        $('#mywork').collapse('toggle');
        $('#resume').collapse('toggle');
        $('.collapse-div').collapse('toggle');
    }



</script>
</body>
</html>